@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #F1F0E9;
    --whitebackground: #ffffff;
    --foreground: #F7F8FB;
    --greencolor: #2ECF81;
    --darkcolor: #2E2D2C;
    --lightbgcolor: #dce0e6;
    --bluecolor: #222d7c;
    --bluebgcolor: #d0d4f8;
    --orangecolor: #EB8826;
    --graycolor: #9ca3af;
    --blackcolor: #000000;

}

body {
    color: var(--darkcolor);
    background: var(--whitebackground);
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    overflow-y: visible;
    overflow-x: hidden;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

